<main>

  <!-- =======================
  Page Banner START -->
  <section class="py-0 bg-blue h-100px align-items-center d-flex h-200px rounded-0" style="background:url(assets/images/pattern/04.png) no-repeat center center; background-size:cover;">
    <!-- Main banner background image -->
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <!-- Title -->
          <h1 class="text-white">Edit Lesson</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
  Page Banner END -->

  <!-- =======================
  Steps START -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <!-- Content -->
        </div>
      </div>

      <div class="card bg-transparent border rounded-3 mb-5">
        <div id="stepper" class="bs-stepper stepper-outline">
          <!-- Card header -->
          <div class="card-header bg-light border-bottom px-lg-5">
            <!-- Step Buttons START -->
          </div>

          <!-- Card body START -->
          <div class="card-body">
            <!-- Step content START -->
            <div class="bs-stepper-content">
              <form [formGroup]="editForm" (ngSubmit)="editLesson(uploadFile1.files)">

                <!-- Step 1 content START -->
                <div id="step-1" role="tabpanel" class="content " >
                  <!-- Title -->
                  <h4>Lesson details </h4>

                  <hr> <!-- Divider -->

                  <!-- Basic information START -->
                  <div class="row g-4">
                    <!-- Course title -->
                    <div class="col-12" hidden>
                      <label class="form-label">Lesson Name </label>
                      <input class="form-control" placeholder="Enter lesson title" formControlName="idLesson">
                    </div>
                    <div class="col-12">
                      <label class="form-label">Lesson Name <a style="color:red;">*</a></label>
                      <input class="form-control" placeholder="Enter lesson title" formControlName="nameLesson">
                      <p *ngIf="editForm.get('nameLesson')?.errors && editForm.get('nameLesson')?.touched" style="color: red">Not required</p>
                    </div>

                    <!-- Short description -->
                    <div class="col-12">
                      <label class="form-label">Lesson description <a style="color:red;">*</a></label>
                      <textarea class="form-control" rows="2" placeholder="Enter keywords" formControlName="contentLesson"></textarea>
                      <p *ngIf="editForm.get('contentLesson')?.errors && editForm.get('contentLesson')?.touched" style="color: red">Not required</p>
                    </div>
                    <!-- Course Img -->
                    <div class="col-md-6">
                      <label class="form-label">Lesson Video <a style="color:red;">* Only accept .Mp4 and .Webm files</a></label>
                      <input type="file" #uploadFile1 class="form-control" placeholder="Enter lesson video" >
                    </div>
                    <!-- Course price -->
                    <div class="col-md-6">
                      <label class="form-label">Time Lesson <a style="color:red;">*</a></label>
                      <input type="text" class="form-control" placeholder="Enter time lesson" formControlName="timeLesson">
                      <p *ngIf="editForm.get('timeLesson')?.errors && editForm.get('timeLesson')?.touched" style="color: red">Not required</p>
                    </div>
                    <!-- Course time -->
                  </div>

                  <!-- Step 1 button -->
                  <div class="d-flex justify-content-end mt-3">
                    <a class="btn btn-secondary next-btn mb-0" [href]="'/admin/courseDetail/'+idCourse">Back</a>
                    <button class="btn btn-primary next-btn mb-0" type="submit">Save</button>

                  </div>

                </div>
                <!-- Basic information START -->
                <!-- Step 1 content END -->
              </form>
            </div>
          </div>
          <!-- Card body END -->
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
  Steps END -->

</main>
