<!-- **************** MAIN CONTENT START **************** -->
<main>

  <!-- Sidebar START -->
  <!-- Sidebar END -->

  <!-- Page content START -->
  <div class="page-content">

    <app-navbarleft></app-navbarleft>
    <app-navbartop></app-navbartop>

    <!-- Page main content START -->
    <div class="page-content-wrapper border">
      <!-- Title -->
      <div class="row mb-3">
        <div class="col-12 d-sm-flex justify-content-between align-items-center">
          <h1 class="h3 mb-2 mb-sm-0">All Course<span class="badge bg-orange bg-opacity-10 text-orange">{{page.totalElements}}</span></h1>
          <a href="/admin/createCourse" class="btn btn-sm btn-primary mb-0">Create a Course</a>
        </div>
      </div>

      <!-- Card START -->
      <div class="card bg-transparent border">

        <!-- Card header START -->
        <div class="card-header bg-light border-bottom">
          <!-- Search and select START -->
          <div class="row g-3 align-items-center justify-content-between">

            <!-- Search bar -->
            <div class="col-md-8">
              <form class="rounded position-relative">
                <input class="form-control bg-body" type="search" placeholder="Search" aria-label="Search" #search (input)="getAll(page.number,search.value)" >
                <button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y"
                        type="submit"><i class="fas fa-search fs-6 "></i></button>
              </form>
            </div>


          </div>
          <!-- Search and select END -->
        </div>
        <!-- Card header END -->

        <!-- Card body START -->
        <div class="card-body">
          <!-- Course table START -->
          <div class="table-responsive border-0 rounded-3">
            <!-- Table START -->
            <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
              <!-- Table head -->
              <thead>
              <tr>
                <th scope="col" class="border-0 rounded-start">Course Name</th>
                <th scope="col" class="border-0">Instructor</th>
                <th scope="col" class="border-0">Rating</th>
                <th scope="col" class="border-0">Enrolled</th>
                <th scope="col" class="border-0 rounded-end">Action</th>
              </tr>
              </thead>

              <!-- Table body START -->
              <tbody>
              <!-- ForCourse-->
              <tr *ngFor="let c of course">
                <!-- Table data -->
                <td>
                  <div class="d-flex align-items-center position-relative">
                    <!-- Image -->
                    <div class="w-60px">
                      <img src="{{c.imgCourse}}" class="rounded" alt="">
                    </div>
                    <!-- Title -->
                    <h6 class="table-responsive-title mb-0 ms-2">
                      <a *ngIf="c.statusCourse==true" [href]="'/admin/courseDetail/'+c.idCourse" class="stretched-link">{{c.nameCourse}}</a>
                      <a *ngIf="c.statusCourse==false" style="color: red" [href]="'/admin/courseDetail/'+c.idCourse" class="stretched-link">{{c.nameCourse}}</a>
                    </h6>
                  </div>
                </td>

                <!-- Table data -->
                <td>
                  <div class="d-flex align-items-center">
                    <!-- Avatar -->
                    <div class="avatar avatar-xs flex-shrink-0">
                      <img class="avatar-img rounded-circle" src="{{c.instructor.avatarInstructor}}" alt="avatar">
                    </div>
                    <!-- Info -->
                    <div class="ms-2">
                      <h6 class="mb-0 fw-light">{{c.instructor.nameInstructor}}</h6>
                    </div>
                  </div>
                </td>

                <!-- Table data -->
                <td>
                  <ul class="list-inline mb-0">
                    <li *ngFor='let in of counter(c.numRating) ;let i = index' class="list-inline-item me-0 small"><i
                      class="fas fa-star text-warning"></i></li>
                    <li *ngFor="let i of counter(5-c.numRating)" class="list-inline-item me-0 small"><i
                      class="far fa-star text-warning"></i></li>
                  </ul>
                </td>

                <!-- Table data -->
                <td>{{c.enrolled}}</td>

                <!-- Table data -->
                <td>
                  <a [href]="'/admin/editCourse/'+c.idCourse" *ngIf="!c.statusCourse" class="btn btn-sm btn-success me-1 mb-1 mb-md-0">Edit</a>
                  <button *ngIf="c.statusCourse==true" class="btn btn-sm btn-danger mb-0" (click)="disable(c.idCourse)">Disable</button>
                  <button *ngIf="c.statusCourse==false" class="btn btn-sm btn-primary mb-0" (click)="activated(c.idCourse)">Activated</button>
                </td>
              </tr>
              </tbody>
              <!-- Table body END -->
            </table>
            <!-- Table END -->
          </div>
          <!-- Course table END -->
        </div>
        <!-- Card body END -->

        <!-- Card footer START -->
        <div class="card-footer bg-transparent pt-0">
          <!-- Pagination START -->
          <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
            <!-- Content -->
            <p class="mb-0 text-center text-sm-start">Showing 1 to {{page.size}} of {{page.totalElements}} entries</p>
            <!-- Pagination -->
            <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
              <ul class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                <li class="page-item mb-0"><a class="page-link" (click)="getAll(page.number- 1,search.value)" tabindex="-1"><i
                  class="fas fa-angle-left"></i></a></li>
                <li *ngIf="page.number!=0" class="page-item mb-0"><a class="page-link"
                                                                     (click)="getAll(page.number-1,search.value)">{{page.number}}</a>
                </li>
                <li class="page-item mb-0 active"><a class="page-link">{{page.number + 1}}</a></li>
                <li *ngIf="page.number+2<=page.totalPages" class="page-item mb-0"><a class="page-link"
                                                                                     (click)="getAll(page.number+1,search.value)">{{page.number + 2}}</a>
                </li>
                <li class="page-item mb-0"><a class="page-link" (click)="getAll(page.number+1,search.value)"><i
                  class="fas fa-angle-right"></i></a></li>
              </ul>
            </nav>
          </div>
          <!-- Pagination END -->
        </div>
        <!-- Card footer END -->
      </div>
      <!-- Card END -->
    </div>
    <!-- Page main content END -->
  </div>
  <!-- Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/choices/js/choices.min.js"></script>
<script src="assets/vendor/overlay-scrollbar/js/overlayscrollbars.min.html"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

