<div class="card bg-transparent border rounded-3 mb-4 z-index-9">
  <!-- Card header START -->
  <div class="card-header bg-transparent d-sm-flex justify-content-sm-between align-items-center border-bottom">
    <h3 class="mb-2 mb-sm-0">Payment</h3>
<!--    <a href="#" class="btn btn-sm btn-primary-soft mb-0" data-bs-toggle="modal" data-bs-target="#addNewcard">Add new card</a>-->
  </div>
  <!-- Card header END -->

  <!-- Card body START -->
  <div class="card-body">
    <div class="accordion accordion-circle" id="accordioncircle">
      <!-- Credit or debit card START -->
<!--      <div class="accordion-item mb-3">-->
<!--        <h6 class="accordion-header font-base" id="heading-1">-->
<!--          <button class="accordion-button bg-white rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">-->
<!--            Credit or Debit Card-->
<!--          </button>-->
<!--        </h6>-->
<!--        <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#accordioncircle">-->
<!--          &lt;!&ndash; Accordion body &ndash;&gt;-->
<!--          <div class="accordion-body">-->
<!--            &lt;!&ndash; Form START &ndash;&gt;-->
<!--            <form class="row text-start g-3">-->
<!--              &lt;!&ndash; Card number &ndash;&gt;-->
<!--              <div class="col-12">-->
<!--                <label class="form-label">Card Number <span class="text-danger">*</span></label>-->
<!--                <div class="position-relative">-->
<!--                  <input type="text" class="form-control" placeholder="xxxx xxxx xxxx xxxx">-->
<!--                  <img src="assets/images/client/visa.svg" class="w-40px position-absolute top-50 end-0 translate-middle-y me-2 d-none d-sm-block" alt="">-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; Expiration Date &ndash;&gt;-->
<!--              <div class="col-md-6">-->
<!--                <label class="form-label">Expiration date <span class="text-danger">*</span></label>-->
<!--                <div class="input-group">-->
<!--                  <input type="text" class="form-control" maxlength="2" placeholder="Month">-->
<!--                  <input type="text" class="form-control" maxlength="4" placeholder="Year">-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash;Cvv code  &ndash;&gt;-->
<!--              <div class="col-md-6">-->
<!--                <label class="form-label">CVV / CVC <span class="text-danger">*</span></label>-->
<!--                <input type="text" class="form-control" maxlength="3" placeholder="xxx">-->
<!--              </div>-->
<!--              &lt;!&ndash; Card name &ndash;&gt;-->
<!--              <div class="col-12">-->
<!--                <label class="form-label">Name on Card <span class="text-danger">*</span></label>-->
<!--                <input type="text" class="form-control" aria-label="name of card holder" placeholder="Enter name">-->
<!--              </div>-->
<!--            </form>-->
<!--            &lt;!&ndash; Form END &ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <!-- Credit or debit card END -->

      <!-- Net banking START -->
      <div class="accordion-item mb-3">
        <h6 class="accordion-header font-base" id="heading-2">
          <button class="accordion-button collapsed bg-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
            Pay with Net Banking
          </button>
        </h6>
        <div id="collapse-2" class="accordion-collapse collapse" style=" position: relative;bottom: 44px;" aria-labelledby="heading-2" data-bs-parent="#accordioncircle">
          <!-- Accordion body -->
          <div class="accordion-body ">
            <!-- Form START -->
            <form class="row text-start g-3" [formGroup]="rechargeForm" (ngSubmit)="reqRecharge()">

              <table>
                <td>
                  <div>
                    <label class="form-label">Enter the money to recharge</label>
                    <div class="input-group">
                      <span class="input-group-text">$</span>
                      <input  type="number" class="form-control"  placeholder="Enter money" formControlName="money">
                      <br>
                    </div>
                  </div>
                </td>
                <td>
                  <button style="margin-top: 80px;margin-left: 20px" class="btn btn-primary-soft me-1 mb-1 mb-md-0" type="submit" > Send </button>
                </td>
              </table>

            </form>
            <p *ngIf="rechargeForm.get('money')?.errors?.['required'] && rechargeForm.get('money')?.touched" style="color: red">* Can't be blank!</p>
            <p *ngIf="rechargeForm.get('money')?.errors?.['min']"  style="color: red">* you must deposit at least 20 dollars </p>
            <!-- Form END -->
          </div>
        </div>
      </div>
      <!-- Net banking END -->
    </div>
  </div>
  <!-- Card body START -->
</div>
<!-- Payment method END -->
<div class="card bg-transparent border">

  <div class="card-header bg-light border-bottom">
    <h5 class="mb-0">Request sent</h5>
  </div>
<div class="card-body pb-0">
  <!-- Table START -->
  <div class="table-responsive border-0">
    <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
      <!-- Table head -->
      <thead>
      <tr>
        <th scope="col" class="border-0 rounded-start">#</th>
        <th scope="col" class="border-0">Date</th>
        <th scope="col" class="border-0">Payment Method</th>
        <th scope="col" class="border-0">Amount</th>
        <th scope="col" class="border-0 rounded-end">Action</th>
      </tr>
      </thead>

      <!-- Table body START -->
      <tbody>

      <!-- Table row -->
      <tr *ngFor="let r of reqRecharges | paginate: {id: 'pagination1',itemsPerPage: 6, currentPage: g},let j = index">
        <!-- Table data -->
        <td>{{j + 1}}</td>
        <td>
          <h6>{{r.createAt}}</h6>
          <!--                  <img src="assets/images/client/mastercard.svg" class="h-50px" alt="">-->
        </td>

        <!-- Table data -->
        <td>{{r.paymentMethod}}

        </td>
        <td>${{r.money}}</td>
        <td>
          <!--                  <a  (click)="reChargeUser(r.money,r.appUser.idUser,r.idRequest)" class="btn btn-primary-soft me-1 mb-1 mb-md-0" data-bs-toggle="tooltip" data-bs-placement="top">-->
          <!--                    Confirm-->
          <!--                  </a>-->
          <a  class="btn btn-danger-soft me-1 mb-1 mb-md-0" (click)="confirm(r.idRequest)"  >Cancel</a>

        </td>
      </tr>

      </tbody>
      <!-- Table body END -->
    </table>
  </div>
  <!-- Table END -->
</div>
  <div class="card-footer bg-transparent">
    <!-- Pagination START -->
    <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
      <pagination-controls id="pagination1" class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0" class="myPagination" (pageChange)="g = $event">
      </pagination-controls>
    </div>
    <!-- Pagination END -->
  </div>
</div>
<!-- Billing history START -->
<div class="card bg-transparent border rounded-3">
  <!-- Card header START -->
  <div class="card-header bg-transparent border-bottom">
    <h3 class="mb-0">Billing history</h3>
  </div>
  <!-- Card header END -->

  <!-- Card body START -->
  <div class="card-body">

    <!-- Title and select START -->
    <div class="row g-3 align-items-center justify-content-between mb-4">
      <!-- Content -->
      <div class="col-md-8">
        <form class="rounded position-relative">
          <input class="form-control pe-5 bg-transparent" type="search" placeholder="Search" aria-label="Search">
          <button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
        </form>
      </div>

      <!-- Select option -->
      <div class="col-md-3">
        <!-- Short by filter -->
        <form>
          <select class="form-select js-choice border-0 z-index-9 bg-transparent" aria-label=".form-select-sm">
            <option value="">Sort by</option>
            <option>Newest</option>
            <option>Oldest</option>
          </select>
        </form>
      </div>
    </div>
    <!-- Title and select END -->

    <!-- Student list table START -->
    <div class="table-responsive border-0">
      <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
        <!-- Table head -->
        <thead>
        <tr>
          <th scope="col" class="border-0 rounded-start">Date</th>
          <th scope="col" class="border-0">Course name</th>
          <th scope="col" class="border-0">Payment method</th>
          <th scope="col" class="border-0">Status</th>
          <th scope="col" class="border-0">Total</th>
          <th scope="col" class="border-0 rounded-end">Action</th>
        </tr>
        </thead>
        <!-- Table body -->
        <tbody>
        <!-- Table item -->
        <tr *ngFor="let b of bills | paginate: {itemsPerPage: 4, currentPage: p}">
          <!-- Date item -->
          <td>{{b.createAt}}</td>

          <!-- Title item -->
          <td>
            <h6 class="mt-2 mt-lg-0 mb-0">{{b.contentBill}}</h6>
          </td>

          <!-- Payment method item -->
          <td><span class="ms-2">{{b.paymentMethod}}</span></td>

          <!-- Status item -->
          <td>
            <span class="badge bg-success bg-opacity-10 text-success" *ngIf="b.status">Paid</span>
            <span class="badge bg-danger bg-opacity-10 text-danger" *ngIf="!b.status">Cancel</span>

          </td>

          <!-- total item -->
          <td>{{b.totalBill}}</td>

          <!-- Action item -->
          <td>
            <a href="#" class="btn btn-primary-soft btn-round me-1 mb-1 mb-md-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Download"><i class="bi bi-download"></i></a>
          </td>
        </tr>

        <!-- Table item -->
        </tbody>
      </table>

    </div>

    <!-- Student list table END -->
  </div>
  <pagination-controls class="btn btn-sm btn-outline-primary" class="myPagination" (pageChange)="p = $event">
  </pagination-controls>
  <!-- Card body START -->
</div>
<!-- Billing history END -->
