<main xmlns:https="http://www.w3.org/1999/xhtml">
  <!-- Counter boxes START -->
  <div class="row mb-4">
    <!-- Counter item -->
    <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
      <div class="d-flex justify-content-center align-items-center p-4 bg-orange bg-opacity-15 rounded-3">
        <span class="display-6 lh-1 text-orange mb-0"><i class="fas fa-tv fa-fw"></i></span>
        <div class="ms-4">
          <div class="d-flex">
            <h5 class=" mb-0 fw-bold" id="totalCourse"  >{{num}}</h5>
          </div>
          <p class="mb-0 h6 fw-light">Total Courses</p>
        </div>
      </div>
    </div>
    <!-- Counter item -->
    <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
      <div class="d-flex justify-content-center align-items-center p-4 bg-purple bg-opacity-15 rounded-3">
        <span class="display-6 lh-1 text-purple mb-0"><i class="fas fa-clipboard-check fa-fw"></i></span>
        <div class="ms-4">
          <div class="d-flex">
            <h5 class=" mb-0 fw-bold">{{comp}}</h5>
          </div>
          <p class="mb-0 h6 fw-light">Complete lessons</p>
        </div>
      </div>
    </div>
    <!-- Counter item -->
    <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
      <div class="d-flex justify-content-center align-items-center p-4 bg-success bg-opacity-10 rounded-3">
        <span class="display-6 lh-1 text-success mb-0"><i class="fas fa-medal fa-fw"></i></span>
        <div class="ms-4">
          <div class="d-flex">
            <h5 class=" mb-0 fw-bold" >{{numcer}}</h5>
          </div>
          <p class="mb-0 h6 fw-light">Achieved Certificates</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Counter boxes END -->

  <div class="card bg-transparent border rounded-3">
    <!-- Card header START -->
    <div class="card-header bg-transparent border-bottom">
      <h3 class="mb-0">My Courses List</h3>
    </div>
    <!-- Card header END -->

    <!-- Card body START -->
    <div class="card-body">

      <!-- Search and select START -->
      <div class="row g-3 align-items-center justify-content-between mb-4">
        <!-- Content -->
        <div class="col-md-8">
          <form class="rounded position-relative">
            <input class="form-control pe-5 bg-transparent" type="search" placeholder="Search" aria-label="Search"
                    #input (input)="search(input.value)">
            <button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
          </form>
        </div>
        <div class="col-md-3">
          <!-- Short by filter -->
          <form>
            <div class="dropdown ">
              <button style="margin-left: 70px;margin-top: 5px"  class="btn btn-primary dropdown-toggle">Check Status</button>
              <div style="margin-left: 70px"  class="noidung_dropdown">
                <a  (click)="findExpire()">Active</a>
                <a (click)="findExpired()">Inactive</a>
              </div>
            </div>
          </form>
        </div>
        <!-- Select option -->

      </div>


      <!-- Search and select END -->

      <!-- Course list table START -->
      <div class="table-responsive border-0">
        <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
          <!-- Table head -->
          <thead>
          <tr>
            <th scope="col" class="border-0 rounded-start">Course Title</th>
            <th scope="col" class="border-0">Lectures</th>
            <th scope="col" class="border-0">Completed</th>
            <th scope="col" class="border-0">Status</th>
            <th scope="col" class="border-0 ">Action</th>
            <th scope="col" class="border-0 rounded-end "></th>

          </tr>
          </thead>

          <!-- Table body START -->
          <tbody>
          <!-- Table item -->
          <tr *ngFor="let c of myCourse| paginate: {id: 'pagination1',itemsPerPage: 3, currentPage: g} " >
            <!-- Table data -->
            <td>
              <div class="d-flex align-items-center">
                <!-- Image -->
                <div class="w-100px">
                  <img src="{{c.course.imgCourse}}" class="rounded" style="width: 100px;height: 80px" alt="">
                </div>
                <div class="mb-0 ms-2">
                  <!-- Title -->
                  <h6 style="width: 200px;">  {{c.course.nameCourse}}</h6>
                  <!-- Info -->
                  <div class="overflow-hidden">
                    <h6 class="mb-0 text-end"  >{{c.completionProgress}}%</h6>
                    <div class="progress progress-sm bg-primary bg-opacity-10">
                      <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width: c.completionProgress + '%' }" aria-valuemin="0" aria-valuemax="100"></div>

                    </div>
                  </div>
                </div>
              </div>
            </td>

            <!-- Table data -->
            <td>
              <br>
              <br>{{c.course.numLesson}}</td>

            <!-- Table data -->
            <td>
              <br>
              <br>{{c.lessonList.length}}</td>
            <td>
              <br>
              <h6 *ngIf="c.statusMyCourse==true" scope="col" class="border-0" style="color: green"> Active </h6>
              <h6 *ngIf="c.statusMyCourse==false" scope="col" class="border-0" style="color: red;margin-top: 1px"> Inactive </h6>
            </td>

            <!-- Table data -->
            <td>

              <a *ngIf="c.statusMyCourse==true && c.course.statusCourse"  [href]="'/user/course-resume/'+c.course.idCourse" class="btn btn-sm btn-primary-soft me-1 mb-1 mb-md-0"><i class="bi bi-play-circle me-1"></i>Continue</a>
              <a *ngIf="!c.course.statusCourse" scope="col" class="border-0" style="width: 101px;color: red;margin-top: 1px"> Upgrading </a>
              <a *ngIf="c.statusMyCourse==false" [href]="'/course-detail-home/'+c.course.idCourse"  class="btn btn-sm btn-success-soft me-1 mb-1 mb-md-0" style="margin-top: 10px" > Buy again </a>
            </td>
            <td>
              <a *ngIf="c.statusMyCourse==true && c.completionProgress == 100" ><i style="font-size: 28px;position: relative;top: 6px;color: green" class="bi bi-bookmark-check"></i> </a>
              <a *ngIf="c.certificate != null"> <i style="font-size: 28px;position: relative;top: 6px;color: green" class="fas fa-medal fa-fw"></i></a>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- Course list table END -->

      <!-- Pagination START -->

      <!-- Pagination END -->
    </div>
    <div class="card-footer bg-transparent">
      <!-- Pagination START -->
      <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
        <pagination-controls id="pagination1" class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0" class="myPagination" (pageChange)="g = $event">
        </pagination-controls>
      </div>
      <!-- Pagination END -->
    </div>
    <!-- Card body START -->
  </div>
  <!-- Main content END -->

</main>
